<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lanou.mapper.AdminMapper">
    <!-- 多表查询,显示所有 -->
    <resultMap id="rolesByAdminInfos" type="com.lanou.domain.Admin_info">
        <id column="admin_id" property="admin_id"/>
        <result column="admin_code" property="admin_code"/>
        <result column="password" property="password"/>
        <result column="name" property="name"/>
        <result column="telephone" property="telephone"/>
        <result column="email" property="email"/>
        <result column="enrolldate" property="enrolldate"/>
        <collection property="role_infos"
                    ofType="com.lanou.domain.Role_info">
            <id column="role_id" property="role_id"/>
            <result column="role_name" property="role_name"/>
        </collection>
    </resultMap>
    <!--<resultMap id="adminAndRole" type="com.lanou.domain.Admin_info" extends="rolesByAdminInfos">-->
        <!--<collection property="roles" ofType="com.lanou.domain.role_info">-->
            <!--<id column="role_id" property="roel_id"/>-->
            <!--<result column="role_name" property="role_name"/>-->
            <!--<collection property="module_infos" ofType="com.lanou.domain.Module_info">-->
                <!--<id column="module_id" property="module_id"/>-->
                <!--<result column="name" property="name"/>-->
            <!--</collection>-->
        <!--</collection>-->
    <!--</resultMap>-->
    <sql id="admin_infoSql">
        admin_info.admin_id,
        admin_info.admin_code,
        admin_info.password,
        admin_info.name,
        admin_info.telephone,
        admin_info.email,
        admin_info.enrolldate
    </sql>
    <sql id="role_infoSql">
        role_info.role_id,
        role_info.role_name
    </sql>
    <select id="findAll"
            resultMap="rolesByAdminInfos">
        SELECT
        <include refid="admin_infoSql"/>,
        <include refid="role_infoSql"/>
        FROM admin_info,admin_role,role_info
        WHERE admin_info.admin_id=admin_role.admin_id
        AND admin_role.role_id=role_info.role_id

    </select>

    <!-- 添加管理员账号 -->
    <insert id="addAdmin"
            parameterType="com.lanou.domain.Admin_info"
            keyProperty="admin_id"
            useGeneratedKeys="true">
        INSERT INTO admin_info(name,admin_code,password,telephone,email,enrolldate)VALUES
        (#{name},#{admin_code},#{password},#{telephone},#{email},#{enrolldate})
    </insert>
    <!-- 添加角色 -->
    <insert id="addRole"
            parameterType="com.lanou.domain.Role_info"
            keyProperty="role_id"
            useGeneratedKeys="true">
        INSERT INTO role_info(role_name) VALUES (#{role_name})
    </insert>
    <!-- 添加中间表 -->
    <insert id="addAdmin_Role"
            parameterType="com.lanou.domain.Admin_role">
        INSERT INTO admin_role(admin_id,role_id) VALUES (#{admin_id},#{role_id})
    </insert>

    <!-- 用户登录 -->
    <select id="loginAdmin"
            parameterType="com.lanou.domain.Admin_info"
            resultType="com.lanou.domain.Admin_info">
        SELECT * FROM admin_info WHERE admin_code=#{admin_code} AND password=#{password}
    </select>

    <!-- 根据姓名查询用户 -->
    <select id="findByName"
            parameterType="java.lang.String"
            resultType="com.lanou.domain.Admin_info">
        SELECT * FROM admin_info WHERE admin_code=#{admin}
    </select>

    <!-- 密码重置 -->
    <update id="rePassword"
            parameterType="com.lanou.domain.Admin_info">
        UPDATE admin_info SET password=#{password} WHERE admin_id=#{admin_id}
    </update>
    <!-- 通过id查询管理员的对象 -->
    <select id="findByAdminId"
            parameterType="int">
        SELECT * FROM admin_info WHERE admin_id=#{admin_id}
    </select>

    <!-- 查询所有权限 -->
    <select id="findAllModule"
            resultType="com.lanou.domain.Module_info">
        SELECT * FROM module_info
    </select>



</mapper>